.container {
  max-width: 700px;
  margin: 1.3rem auto;
  padding: 0 4rem;
  height: calc(100vh - 8rem);

  display: flex;
  flex-direction: column;
}

.content {
  display: block;

  h1 {
    color: var(--gray-100);
    font-weight: bold;
    font-size: 1.75rem;
    transition: color 0.2s;
  }

  p {
    color: var(--gray-200);
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.3rem;
  }

  &:hover h1 {
    color: var(--pink-500);
  }

  & + a {
    margin-top: 3rem;
  }
}

.aboutContainer {
  display: flex;
  height: 22px;
}

.dateContainer {
  display: flex;
  margin-right: 1.5rem;
  align-items: center;

  time {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    color: var(--gray-300);
  }
}

.authorContainer {
  display: flex;
  align-items: center;

  span {
    font-size: 0.8rem;
    text-align: center;
    margin-left: 0.5rem;
    color: var(--gray-300);
  }
}

.button {
  margin-top: 3.4rem;
  border: 0;
  background: transparent;
  font-size: 1.125rem;
  color: var(--pink-500);
  font-weight: 600;
  text-align: start;
}
